<?xml version="1.0"?>
<!--
  ~ Apedik_test
  ~
  ~ @author    Antonio Pedicini <me@apedik.dev>
  ~ @website   https://apedik.dev
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Apedik_Test"/>
</config>
